<md-dialog>

    <form ng-cloak>
        
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <i class="material-icons">event_available</i>
                    {{selectedDateTitle}}
                </h2>
                <span flex></span>
                
                <md-button ng-click="cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div ng-show="selectedAppointments.length">
                    <h3>Edit</h3>
                </div>
                <div ng-repeat="app in selectedAppointments">
                    <div  layout="row" layout-flex>
                        <div flex="10">
                            <md-input-container class="md-block">
                                <label ng-if="$index == 0">Title</label>
                                <input ng-model="app.title" aria-label="title">
                            </md-input-container>
                        </div>
                        
                        <div flex="65">
                            <md-input-container class="md-block">
                                <label ng-if="$index == 0">Description</label>
                                <input ng-model="app.desc" aria-label="desription">
                            </md-input-container>
                        </div>
                        <div flex="5">
                            <md-input-container>
                                <label ng-if="$index == 0">Start</label>
                                <input ng-model="app.begin" aria-label="begin">
                            </md-input-container>
                        </div>
                        <div flex="5">
                            <md-input-container>
                                <label ng-if="$index == 0">End</label>
                                <input ng-model="app.end" aria-label="end">
                            </md-input-container>
                        </div>
                        
                        <div flex="5">
                            <md-input-container>
                                <label ng-if="$index == 0">date</label>
                                <input ng-model="app.date" type="number" aria-label="date">
                            </md-input-container>
                        </div>
                        
                        <div flex="5">
                            <md-input-container>
                                <label ng-if="$index == 0">month</label>
                                <input ng-model="app.month" aria-label="month">
                            </md-input-container>
                        </div>
                        <div flex="5">
                            <md-input-container>
                                <label ng-if="$index == 0">year</label>
                                <input ng-model="app.year" input="number" aria-label="year">
                            </md-input-container>
                        </div>
                        
                    </div>
                </div>

                <h3>Add</h3>

                <div  layout="row" layout-flex>
                    <div flex="10">
                        <md-input-container class="md-block">
                            <label>Title</label>
                            <input ng-model="new.title" aria-label="title">
                        </md-input-container>
                    </div>
                    
                    <div flex="65">
                        <md-input-container class="md-block">
                            <label>Description</label>
                            <input ng-model="new.desc" aria-label="description">
                        </md-input-container>
                    </div>
                    <div flex="5">
                        <md-input-container>
                            <label>Start</label>
                            <input ng-model="new.begin" aria-label="start">
                        </md-input-container>
                    </div>
                    <div flex="5">
                        <md-input-container>
                            <label>End</label>
                            <input ng-model="new.end" aria-label="end">
                        </md-input-container>
                    </div>
                    <div flex="5">
                        <md-input-container>
                            <label>date</label>
                            <input ng-model="new.date" aria-label="date">
                        </md-input-container>
                    </div>

                    <div flex="5">
                        <md-input-container>
                            <label>month</label>
                            <input ng-model="new.month" aria-label="month">
                        </md-input-container>
                    </div>
                    <div flex="5">
                        <md-input-container>
                            <label>year</label>
                            <input ng-model="new.year" aria-label="year">
                        </md-input-container>
                    </div>
                </div>
            </div>
            <md-divider></md-divider>            
        </md-dialog-content>

        <!-- <md-dialog-actions>  -->
        <div class="md-actions" layout="row" layout-align="end center">
            <span flex></span>
            <md-button ng-click="cancel()">
                <md-icon>cancel</md-icon>
                Cancel
            </md-button>
            <md-button ng-click="save()">
                <md-icon>save</md-icon>
                Save
            </md-button>
        </div>
        <!-- </md-dialog-content>  -->
    </form>
</md-dialog>
